.dialog-title {
  padding: 0;
  font-family: inherit;
}

.close-button {
  padding-top: 20px;
  padding-left: 20px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #a11818;
  cursor: pointer;
}

.close-button:hover {
  color: #ff0000;
}

.description-edit {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.save-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.ticket-dialog-header{
  height: fit-content;
  align-items: center;
  display: flex;
  justify-content: space-between; /* pushes items to edges */
}

.save-button:hover {
  background-color: #45a049;
}

.menu-button{
  align-self: center;
  height: fit-content;
  cursor: pointer;
}
